/*
Breakpoints mixin
@param {String} $point - name of breakpoint
add '-up' if you want (min-width: $point) and leave with no suffix for (max-width: $point - 1px)
*/
/**
 *
 */
/**
 *
 */
.IndexPage {
  background-color: var(--index-bg-color);
}
.IndexPage__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px calc(var(--side-padding) / 2);
}
@media screen and (min-width: 480px) {
  .IndexPage__navigation {
    justify-content: space-around;
  }
}
.IndexPage__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.PageNumber {
  float: left;
  margin: 3px;
}
.PageNumber__button {
  height: 36px;
  padding: 5px 12px;
  border: none;
  border-radius: 100px;
  background-color: white;
  box-shadow: 0px 4px 20px 0px rgba(56, 55, 142, 0.15);
  color: #000;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}
.PageNumber__button:hover {
  color: var(--accent-color);
}