/*
Breakpoints mixin
@param {String} $point - name of breakpoint
add '-up' if you want (min-width: $point) and leave with no suffix for (max-width: $point - 1px)
*/
/**
 *
 */
/**
 *
 */
/**
 *
 */
/**/
/*
Breakpoints mixin
@param {String} $point - name of breakpoint
add '-up' if you want (min-width: $point) and leave with no suffix for (max-width: $point - 1px)
*/
/**
 *
 */
/**
 *
 */
/**
 *
 */
/**/
:root {
  --font-main: "Helvetica", system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  --font-mono: "Helvetica", SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  --font-size: 16px;
  /**/
  --content-max-width: 568px;
  --header-height: 52px;
  --footer-height: 72px;
  --page-max-width: 768px;
  --side-padding: 20px;
  /**/
  --accent-color: var(--orange);
  --border-color: var(--grey);
  --header-bg-color: var(--dark);
  --footer-bg-color: var(--dark);
  --main-bg-color: var(--beige);
  --song-bg-color: #fff;
  --text-color: var(--dark-grey);
  --title-color: var(--dark);
  --shadow-color: rgba(56, 55, 142, 0.15);
  /**/
  --beige: #FFFAED;
  --brown: #26231B;
  --dark: #0B0800;
  --dark-grey: #6c6c6c;
  --grey: #C0C0C0;
  --orange: #F5C149;
}

/**
 * CSS breakpoint values.
 */
.SongPage {
  background-color: var(--main-bg-color);
  position: relative;
}
.SongPage__container {
  position: relative;
}
.SongPage__content {
  padding-bottom: 64px;
}
.SongPage__main {
  width: 100%;
  background-color: var(--song-bg-color);
  border-radius: 24px;
  box-shadow: 0px 4px 20px 0px rgba(56, 55, 142, 0.15);
  padding: var(--side-padding) var(--side-padding) 8px;
}
.SongPage__toggle {
  margin-top: -4px;
}
.SongPage__show {
  font-size: 14px;
}
.SongPage__verses {
  list-style-type: none;
  margin: 16px 0 0;
  padding: 0;
}
.SongPage__extra {
  padding: var(--side-padding);
}