.SongBookTitle__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.SongBookTitle__box {
  border-radius: 8px;
  overflow: hidden;
  height: 52px;
  width: 52px;
}
.SongBookTitle__image {
  height: 100%;
  width: 100%;
}
.SongBookTitle__title {
  margin: 0 0 0 20px;
}